<?xml version="1.0"?>

<TestSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <TableTest>
    <Active>true</Active>
    <PrimaryKeyTest>true</PrimaryKeyTest>
    <ForeignKeyTest>true</ForeignKeyTest>
  </TableTest>
  <Documents>
    <Active>true</Active>
    <Compression>true</Compression>
    <Blank_First_Page>false</Blank_First_Page>
    <Blank_All_Documents>false</Blank_All_Documents>
    <Private_Tags>false</Private_Tags>
    <PageCount_High>false</PageCount_High>
    <PageCount_Alert_Level>0</PageCount_Alert_Level>
  </Documents>
  <Documentation>
    <Active>true</Active>
    <Compression>true</Compression>
    <Blank_First_Page>false</Blank_First_Page>
    <Blank_All_Documents>false</Blank_All_Documents>
    <Private_Tags>false</Private_Tags>
    <PageCount_High>false</PageCount_High>
    <PageCount_Alert_Level>0</PageCount_Alert_Level>
  </Documentation>
  <FileIndex>
    <MD5Test>true</MD5Test>
  </FileIndex>
  <Drives>
    <DriveList>
      <DriveStatus>
        <Drive>C:\</Drive>
        <Status>true</Status>
      </DriveStatus>
      <DriveStatus>
        <Drive>D:\</Drive>
        <Status>false</Status>
      </DriveStatus>
      <DriveStatus>
        <Drive>E:\</Drive>
        <Status>false</Status>
      </DriveStatus>
      <DriveStatus>
        <Drive>F:\</Drive>
        <Status>false</Status>
      </DriveStatus>
    </DriveList>
  </Drives>
</TestSettings>